<body>
    <section id="forgetPassword">
        <a class="go_back_cta" href="/"><i class="fas fa-arrow-left"></i> Home </a>
        <h1 class="auth_logo">print<span style="color: #43A047;">it</span>y</h1>

        <form action="/reset_password" method="POST" class="auth_form2">
            <% if(messages.error) { %>
                <span class="text-red-500 text-sm">
                    <%= messages.error %>
                </span>
                <% } %>
                    <input class="auth_input" name="secretToken" placeholder="Confirm Password" type="hidden" value="<%= secretToken %>" required>
                    <input class="auth_input" name="newPassword" placeholder="Enter New Password" type="password" required>
                    <input class="auth_input" name="confirmPassword" placeholder="Confirm Password" type="password" required>

                    <button type="submit" class="primary_btn">change password</button>
        </form>
    </section>

    <script src="../js/app.js"></script>

</body>