<body>
    <section id="forgetPassword">
        <a class="go_back_cta" href="/"><i class="fas fa-arrow-left"></i> Home </a>
        <h1 class="auth_logo">print<span style="color: #43A047;">it</span>y</h1>

        <form action="/forgot_password" method="POST" class="auth_form2">
            <% if(messages.success) { %>
              <span class="text-500 text-sm" style="color: #43a047">
                <%= messages.success %>
              </span>
              <% }else if (messages.error){ %>
                <span class="text-red-500 text-sm">
                  <%= messages.error %>

                </span>
            <% }%>
                    <input class="auth_input" name="email" placeholder="Enter your email" type="email" required>
                    <button type="submit" class="primary_btn">Send Reset Link</button>
        </form>
    </section>

    <script src="../js/app.js"></script>

</body>