<section id="home">
  <div class="dieline_animation">
    <img src="/images/home/diyline.png" alt="printity dieline animation" class="dieline">
  </div>
  <div id="home_content" class=" universal_grid">
    <h2><span style="text-transform: uppercase;">print<span style="color: #43A047;">it</span>y</span> for Custom
      Packaging Solutions
    </h2>
    <h3 class="secondary_heading">
      fast, cost-effective, and reliable
    </h3>
    <p>
      Get the absolute custom packaging for your brand with our <br>dedicated packaging team!
    </p>

    <a href=" /products"><button class="primary_btn">order now</button></a>
  </div>



</section>

<div id="bannerImg">
  <img id="home_banner_img" src="/images/home/banner_img.png" alt="printity banner img">
</div>
<div id="bannerImg2">
  <img id="home_banner_img2" src="/images/home/banner_img.png" alt="printity banner img">
</div>

<!-- <section id="clients" class="h_v_center universal_grid">
  <h1>clients logo</h1>
</section> -->
<section id="why_printity" class="universal_grid">
  <div class="header  h_v_center j_c_center">
    <h1 class="primary_heading">why printity</h1>
    <p class="primary_paragraph">
      printity understands the packaging is a most essential tool for product marketing. printity is designed to help
      businesses to provide creative and elegant packaging.
    </p>
  </div>
  <div class="card_container" class="v_center">
    <div class="card_type_1 ">
      <div class="card_type_1_img h_v_center j_c_center">
        <img src="images/svg/home/OneDestinationForAll.svg" alt="printity effective service" />
      </div>
      <div class="secondary_header h_v_center j_c_center">
        <h1 class="secondary_heading">one stop Solution</h1>
        <p class="secondary_paragraph">
          all the commercial and non-commercial packaging demands full filled with high-quality service experience
        </p>
      </div>
    </div>
    <div class="card_type_1 ">
      <div class="card_type_1_img h_v_center j_c_center">
        <img src="images/svg/home/QualityAssurance.svg" alt="quality" />
      </div>
      <div class="secondary_header h_v_center j_c_center">
        <h1 class="secondary_heading">quality assurance</h1>
        <p class="secondary_paragraph">
          printity is committed to our high-quality service experience with accuracy
        </p>
      </div>
    </div>
    <div class="card_type_1 ">
      <div class="card_type_1_img h_v_center j_c_center">
        <img src="images/svg/home/CostAndTimeSaving.svg" alt="saving in packaging with printity" />
      </div>
      <div class="secondary_header h_v_center j_c_center">
        <h1 class="secondary_heading">cost and time effective</h1>
        <p class="secondary_paragraph">
          we deliver on committed time with effective pricing
        </p>
      </div>
    </div>
    <div class="card_type_1 ">
      <div class="card_type_1_img h_v_center j_c_center">
        <img src="images/svg/home/SupportByExperts.svg" alt="printity expert service" />
      </div>
      <div class="secondary_header h_v_center j_c_center">
        <h1 class="secondary_heading">support by experts</h1>
        <p class="secondary_paragraph">
          dedicated experts help to provide you the ideal packaging for you products
        </p>
      </div>
    </div>


  </div>
</section>
<section id="products" class="universal_grid">
  <div class="header  h_v_center j_c_center">
    <h1 class="primary_heading">products</h1>
    <!-- <p class="primary_paragraph">
      fully customizable packaging with dedicated service from our experts.
    </p> -->
  </div>
  <div class="card_container" class="v_center">
    <div class="card_type_2 ">
      <div class="card_type_2_img ">
        <img src="images/product_images/folded carton.jpg " alt="folded corton packaging" />
      </div>
      <div class="secondary_header">
        <h1 class="products_heading">folded corton</h1>
        <p class="products_paragraph">
          flexible for all types of lightweight products and one of the smartest types of packaging majorly used in
          pharma and confectionery and FMCG etc.
        </p>
        <a href="/products">get started with folded corton
          <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="card_type_2 ">
      <div class="card_type_2_img ">
        <img src="images/product_images/corogatted.jpg " alt="corrugated packaging" />
      </div>
      <div class="secondary_header">
        <h1 class="products_heading">corrugated</h1>
        <p class="products_paragraph">
          used for heavier products corrugated boxes are durable in three-layer cardboard for regular shipment.
        </p>
        <a href="/products">get started with corrugated
          <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="card_type_2 ">
      <div class="card_type_2_img ">
        <img src="images/product_images/inserts.jpg" alt="inserts" />
      </div>
      <div class="secondary_header">
        <h1 class="products_heading">Instruction Manual </h1>
        <p class="products_paragraph">
          instruction manuals are for product information which should be included in your packaging for product
          description and configuration.
        </p>
        <a href="/products">get started with Instruction Manual and leaflet <i
            class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div id="product_page_navigator">
      <a href="/products"><i class="fas fa-chevron-circle-right"></i></a>
    </div>
  </div>
  <div id="product_page_navigator2">
    <a href="/products"><button class="primary_btn">browse all products</button></a>
  </div>
</section>