// Colors
$primary: #43a047;
$primary_hover: #388e3c;
$body: #fff7f745;
$pure: #ffffff;
$dark: #111;
$dark_border: #373737;
$grey: #7a7d85;
$grey2: #ddd;
$light_blue: #5596b4;
$dark_blue: #090f1b;
$notselected: #dfebf1;
$selected: rgba(193, 217, 228, 1);
// Transition
$smooth: all 0.1s ease-in-out;

// section
// section hight
$nav_height: 6rem;
$home_height: 88vh;

$home_banner_height: 88vh;
$client_height: 15vh;
$why_printity: 85vh;
$products_height: 88vh;
$general_height: 88vh;
$footer_height: 50vh;
$full_page_section: 88vh;
