<section id="error_404" class="h_v_center ">
  <h1 class="primary_heading">Oops Something Went Wrong</h1>
  <p class="primary_paragraph">We Cant Find The Page You Are Looking For.</p>
  <a href="/"><button class="primary_btn">go to home</button></a>
</section>